

#admin-menu{
    height: 60rem;
    overflow: auto;
    border-radius: 1rem;
    border: 1px solid #B49646;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#menu-items {
    text-align: center;
}

.form-control{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    main {
        padding-bottom: 6rem;
    }

    .menu-border {
        border: none;
    }
}



